<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        readonly
        class="form-control"
        placeholder="URL"
        [(ngModel)]="targetUrl"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="crawl()"
        >
          Get Entries
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h4>Entries List</h4>

    <ng-container *ngIf="entries && entries.length; else empty_state">
      <select class="form-select" placeholder="Filter Options"  aria-label="Filter options" [(ngModel)]="selectedFilter" (ngModelChange)="onFilterChange()">
        <option [value]="null">-- Select filters --</option>
        <option value="1">Filter all previous entries with more than five words in the title, ordered by the number of comments first</option>
        <option value="2">Filter all previous entries with less than or equal to five words in the title, ordered by points</option>
      </select>
  
      <table class="table table-hover mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Points</th>
            <th scope="col">Comment Count</th>
            <th scope="col">Created at</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of entries; let i = index">
            <td>{{entry.position}}</td>
            <td>{{entry.title}}</td>
            <td>{{entry.points || '-' }}</td>
            <td>{{entry.commentCount || '-' }}</td>
            <td>{{entry.createdAt}}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>

    <ng-template #empty_state>
        <div>There are no entries yet. Try clicking on the "Get Entries" button to fetch some records!</div>
    </ng-template>

    <button *ngIf="entries && entries.length" class="btn mb-5 btn-sm btn-danger" (click)="removeAllEntries()">
      Remove All
    </button>
  </div>
</div>
